html {
  text-align: center;
  padding: 20px;
  animation: backgroundColourAnimated 8s infinite;
  min-height: 100vh;
}

@keyframes backgroundColourAnimated {
  0% {
    background: #ee6055;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #aaf683;
  }
  75% {
    background: #ffd97d;
  }
  100% {
    background: #ff9b85;
  }
}

.App-header {
  color: #282c34;
}

.Media-headerGif {
  margin-top: 0px;
  width: 100px;
}

h1, h4, h5, p {
  margin: 10px;
}

input[type=text] {
  border-width: 0px;
  border-radius: 10px;
  padding: 5px 20px;
  width: 80%;
  height: 30px;
  transition: outline 0.1s ease-in-out;
}

input[type=text]:focus { 
  outline: #282c34 solid 2px;
}

.Instruction {
  font-size: smaller;
}

form {
  margin-top: 30px;
}

.Button {
  color: white;
  border-radius: 10px;
  outline: 2px;
  margin-left: 10px;
  margin-top: 10px;
  transition: all 0.1s ease-in-out;
}

#submitButton {
  background-color: #282c34;
  padding: 10px 20px;
}

#submitButton:focus { 
  background-color: rgb(20, 21, 23);
  outline: #ffffff solid 2px;
}

#surpriseButton {
  background-color: #ffcf56;
  padding: 9px 20px;
}

#surpriseButton:focus {
  background-color: #ffbf1c;
  outline: #ffffff solid 2px;
}

.Gallery {
  padding: 50px 200px;

}

.Gallery img {
  width: 200px;
  margin: 10px;
}

.Loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 992px) {
  input[type=text] {
    width: 30%;
  }

}